html {
    height: 100%;

}
body {
    height: 100%;
    margin: 0;
    background: linear-gradient(#d5e1ed,#545556)

    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
}
h1 {
	width:100%;
	height: 100px;
	font-size: 60px;
	
}
.container {
	text-align: center;
}
.form {
	text-align: center;
	padding-top: 100px;
}

